# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Obblig 1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\slock\RiderProjects\Obblig 1\.idea\.idea.Obblig 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
